<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flybear.hziee.app.mapper.CommunityBuildingMapper">
  <resultMap id="BaseResultMap" type="flybear.hziee.app.entity.CommunityBuilding">
    <!--@mbg.generated-->
    <!--@Table vote_system_demo.community_building-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="community_id" jdbcType="BIGINT" property="communityId" />
    <result column="building_id" jdbcType="BIGINT" property="buildingId" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, community_id, building_id, deleted, gmt_create, gmt_modified
  </sql>
</mapper>